body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(101, 121, 121); /* Color de fondo */
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Filas para header, contenido y footer */
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.header {
  background-color: rgb(45, 72, 95);
  display: grid;
  grid-template-columns: auto 1fr auto; /* Tres columnas: botones, búsqueda y botones */
  gap: 10px; /* Espacio entre los elementos */
  align-items: center; /* Alinea los elementos al centro verticalmente */
  padding: 1% 2%;
}

.left-buttons,
.right-buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px; /* Espacio entre los botones */
}

.button {
  padding: 10px 20px;
  background-color: #b6a6a6;
  border-radius: 5px;
  border: none;
}

.search-container {
  display: flex;
  justify-content:center; /* Centra el buscador horizontalmente */
  
}
.btnsearch{
  padding: 2px 6px ;
  border-radius: 5px;
  border: none;
}
.searchbtn{
  padding: 2px 6px;
  background-color: #b6a6a6;
  border-radius: 5px;
  border: none;
  
}
.menu{
  text-align: center;
}

.menu-container {
  width: auto;
  padding: 20px;
  /*display: flex;
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  /*padding: 0px;
  background-color: #fd6d6d; /* Fondo del menú */
  /*justify-content: center;*/
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.grid-item {
  margin: 8px 6px;/*Espacio entre filas y columnas*/ 
  height: 350px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
/*
.menu-container > div {
  background-color: aliceblue;
  margin: 10%;
  padding: 50px;
  font-size: 30px;
  width: 100px;
  height: 80px;
  align-items: center;
  text-align: center;
}*/

.footer {
  padding: 10px;
  text-align: center;
  background-color: aqua;
}

@media (max-width: 768px) {
  .header {
    width: auto;
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    gap: 5px;
    justify-content: center; /* Centra los elementos horizontalmente */
  }

  .left-buttons {
    gap: 7px;
    grid-template-columns: 1fr 1fr; /* Una columna para los botones */
    justify-content: center; /* Centra los botones horizontalmente */
  }
  .right-buttons{
    grid-template-columns: 1fr ;
    order: 1;
  }

  .button {
    width: auto;
    margin-bottom: 5px;
  }

  .search-container {
    order: 2; /* Mueve el buscador debajo de los botones */
    width: 100%; /* Ocupa todo el ancho disponible */
    display: flex;
    justify-content: center; /* Centra el buscador horizontalmente */
  }
}