body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(101, 121, 121); /* Color de fondo */
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Filas para header, contenido y footer */
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.header {
  background-color: rgb(45, 72, 95);
  display: grid;
  grid-template-columns: auto 1fr auto; /* Tres columnas: botones, búsqueda y botones */
  gap: 20px; /* Espacio entre los elementos */
  align-items: center; /* Alinea los elementos al centro verticalmente */
  padding: 1% 2%;
}

.left-buttons,
.right-buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px; /* Espacio entre los botones */
}

.button {
  padding: 10px 20px;
  background-color: #b6a6a6;
  border-radius: 5px;
  border: none;
}

.search-container {
  display: flex;
  justify-content:center; /* Centra el buscador horizontalmente */
  
}
.searchbtn{
  padding: 4px 10px;
  background-color: #b6a6a6;
  border-radius: 5px;
  border: none;
}

.menu {
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  padding: 20px;
  background-color: #da6262; /* Fondo del menú */
}

.footer {
  padding: 10px;
  text-align: center;
  background-color: aqua;
}

@media (max-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr; /* Una columna en pantallas pequeñas */
    gap: 5px;
  }

  .right-buttons, .left-buttons {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:flex-end; /* Centra los botones horizontalmente */
  }

  .button {
    width: auto;
    margin-bottom: 5px;

  }

  .search-container {
    order: 2; /* Mueve el buscador debajo de los botones */
    width: auto;
    display: flex;
    justify-content: center;
  }
}