.body{
  background-color: aqua;
}
.header{
  display: grid;
}
.heade{
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-around;
  padding: 15px 15px;
  align-items: center;

}