body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(101, 121, 121); /* Color de fondo */
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Filas para header, contenido y footer */
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.header {
  background-color: rgb(45, 72, 95);
  display: grid;
  grid-template-columns: auto 1fr auto; /* Tres columnas: botones, búsqueda y botones */
  gap: 10px; /* Espacio entre los elementos */
  align-items: center; /* Alinea los elementos al centro verticalmente */
  padding: 1% 2%;
}
.sub-header{
  display: flex;
  background-color: rgb(110, 147, 185);
  justify-content: flex-end; /*colocamos los items(divs) hasta la izquierda*/
  align-items: center;

}
.sub-header > div{
  padding: 4px 5px;
}
div >button{
  border-radius: 5px;
  border: none;
}

.left-buttons,
.right-buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px; /* Espacio entre los botones */
}

.button {
  padding: 10px 20px;
  background-color: #b6a6a6;
  border-radius: 5px;
  border: none;
}
/*.button-car{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}*/

.search-container {
  display: flex;
  justify-content:center; /* Centra el buscador horizontalmente */
  
}
.btnsearch{
  padding: 2px 6px ;
  border-radius: 5px;
  border: none;
}
.searchbtn{
  padding: 2px 6px;
  background-color: #b6a6a6;
  border-radius: 5px;
  border: none;
  
}
.menu{
  text-align: center;
}

.menu-container {
  width: auto;
  padding: 20px;
  /*display: flex;
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  /*padding: 0px;
  background-color: #fd6d6d; /* Fondo del menú */
  /*justify-content: center;*/
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.grid-item {
  border-radius: 10px;
  margin: 8px 6px;/*Espacio entre filas y columnas*/ 
  height: 400px;
  background-color: rgb(181, 206, 214);
  display: flex;
  flex-direction: column; /*Apilar elementos de forma vertical*/
  justify-content: flex-start; /*Alinear los elementos al principio*/
  /*justify-content: center;*/
  align-items: center;
  font-size: 1rem;
  padding: 5%; /* Añadir padding para separar los elementos del borde */
  box-sizing: border-box; /* Incluir padding y borde en el tamaño total del elemento */
}
.grid-item img{
  width: 100%;
  height: 200px;
  object-fit: cover; /*Asegura que la img cubra el áre sin deformarse*/
  border-radius: 10px;
}
.btn-buy{
  border-radius: 5px;
  border: none;
}
/*
.menu-container > div {
  background-color: aliceblue;
  margin: 10%;
  padding: 50px;
  font-size: 30px;
  width: 100px;
  height: 80px;
  align-items: center;
  text-align: center;
}*/

.footer {
  padding: 10px;
  text-align: center;
  background-color: aqua;
}

@media (max-width: 824px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .sub-header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 740px) {
  .header {
    width: auto;
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    gap: 5px;
    justify-content: center; /* Centra los elementos horizontalmente */
  }

  .left-buttons {
    gap: 7px;
    grid-template-columns: 1fr 1fr; /* Una columna para los botones */
    justify-content: center; /* Centra los botones horizontalmente */
  }
  .right-buttons{
    grid-template-columns: 1fr ;
    order: 1;
  }

  .button {
    width: auto;
    margin-bottom: 5px;
  }

  .search-container {
    order: 2; /* Mueve el buscador debajo de los botones */
    width: 100%; /* Ocupa todo el ancho disponible */
    display: flex;
    justify-content: center; /* Centra el buscador horizontalmente */
  }
  .grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}